a {
  color: $dark-color !important;
  text-decoration: none;
  //    background-image: linear-gradient(currentColor, currentColor);
  //    background-position: 0%  90% ;
  //    background-repeat: no-repeat;
  //    background-size: 100% 1px;
  //    transition: background-size .5s;
}

//a:hover {
//    background-size: 0% 1px;
//}
.row {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

body {
  font-family: $font-family;
  font-size: $font-size18;
  color: #1f1f1f;
}

.dark-button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: solid 1px $dark-color;
  background-color: $dark-color;
  border-radius: 0;
  color: white;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  transition: 0.3s;
}

.dark-button:active {
  outline: none;
}

.dark-button:hover {
  background-color: black;
  outline: none;
}

.total-price {
  font-weight: bold;
  font-size: 22px;
}

.size-wrapper {

  &__size {
    color: $dark-color;

    &__radio {
      // убрать стандартные рамки чек-бокс

      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__label {
      border: 1px solid $dark-color;
      text-align: center;
      cursor: pointer;
      padding-top: 4px;
      font-size: $font-size18;
      width: 55px;
      height: 36px;
    }


    &__radio:checked + &__label {
      outline: 2px solid $dark-color;
    }
  }
}


.color-wrapper {

  &__color {
    color: $dark-color;

    &__radio {
      // убрать стандартные рамки чек-бокс
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__label {
      border: 1px solid $dark-color;
      text-align: center;
      cursor: pointer;
      font-size: $font-size22;
      width: 55px;
      height: 36px;
    }

    &__label:after {
      content: '';
    }

    &__radio:checked + &__label:after {
      content: '✔';
      transition: .5s;
    }

    &__radio:checked + &__label {
      outline: 2px solid $dark-color;
    }
  }
}

.white {
  background: $p-color-white;
}

.haki {
  background: $p-color-haki;
}

.black {
  background: $p-color-black;
  color: white;
}

.bejeviy {
  background: $p-color-bejeviy;
}

.pink {
  background: $p-color-pink;
}

.gray {
  background: $p-color-gray;
  color: white;
}

.light-blue {
  background: $p-color-light-blue;
}

.yellow {
  background: $p-color-yellow;
}

.liloviy {
  background: $p-color-liloviy;
}

.salad {
  background: $p-color-salad;
}

.blue {
  background: $p-color-blue;
  color: white;
}

.dark-blue {
  background: $p-color-dark-blue;
  color: white;
}

.bordoviy {
  background: $p-color-bordoviy;
  color: white;
}

.red {
  background: $p-color-red;
  color: white;
}

.green {
  background: $p-color-green;
  color: white;
}

.vishneviy {
  background: $p-color-vishneviy;
  color: white;
}

.coffee {
  background: $p-color-coffee;
}


[data-microtip] {
  position: relative; /* Относительное позиционирование */
}

[data-microtip]::after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #ffffff;
  content: attr(data-microtip);
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  padding: 0.4em 1em;
  white-space: nowrap;
  box-sizing: content-box;
  position: absolute;
  top: -150%; /* Положение подсказки */
  left: -150%;
  opacity: 0;
  transition: .5s;
}

[data-microtip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: -150%; /* Положение подсказки */
  left: -150%;
}

.disabled {
  opacity: 50%;
}

.refresh-btn {
  display: inline-block;
  cursor: pointer;
  transition: 0.5s !important; /* Время поворота */
}

.refresh-btn:hover {
  transform: rotate(360deg) !important; /* Поворачиваем на 360 градусов */
}

.link {
  cursor: pointer;
  opacity: 100%;
  transition: .2s;
}
.link:hover{

  text-decoration: none;
  opacity: 50%;
}

.link-img{
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}
.link-img:hover{
  transform: scale(1.015);
  transform-origin: 50% 50%;
}
.form-control{
  outline: #0f0f0f !important;
}


.form-control:focus{
  border-color: rgba(38, 38, 38, 0.8);
  box-shadow: 0 1px 1px rgba(31, 31, 31, 0.07) inset, 0 0 8px rgba(70, 70, 70, 0.8);
}