$padding: 8px;
$margin: 8px;

$radius: 4px;
$font-family: "Consolas", sans-serif;
$font-size14: 14px;
$font-size18: 18px;
$font-size22: 22px;
$font-size30: 30px;

$main-color: #9d9d9d;
$second-color: #e9e9e9;
$dark-color: #1f1f1f;
$black: #000;

$p-color-white: #fff;
$p-color-black: black;
$p-color-bejeviy: #E5DFAE;
$p-color-pink: #FFCBDB;
$p-color-gray: gray;
$p-color-light-blue: #00BFFF;
$p-color-yellow: #FBE34C;
$p-color-liloviy: #D690E4;
$p-color-salad: #7FFF00;
$p-color-blue: #0000FF;
$p-color-dark-blue: #000080;
$p-color-bordoviy: #9F1313;
$p-color-red: #9F1313;
$p-color-green: #0F6D09;
$p-color-vishneviy: #9C121C;
$p-color-haki: #78866B;
$p-color-coffee: #C19A71;


